.wrapper {
  padding: 16px;
  max-width: 310px;

  a {
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 32px;
  }

  p {
    margin-top: 5px;
    line-height: 1.5;
  }
}
