.wrapper {
  position: relative;
  z-index: 10;

  @media (max-width: 767px) {
    margin: 0 auto;
    max-width: 285px;
  }

  @media (max-width: 567px) {
    padding-bottom: 80px;
  }

  .cartBox {
    position: fixed;
    z-index: 15;
    transform: translateX(405px);

    @media (max-width: 767px) {
      transform: translateX(270px);
    }

    @media (max-width: 567px) {
      transform: translateX(0);
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.statusWrapper {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }

  .notFound {
    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 567px) {
      width: 250px;
      height: 250px;
    }
  }
}
