.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    margin-bottom: 8px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  .smallInfo {
    font-weight: 700;

    span {
      font-weight: 400;
      text-decoration: underline;
    }
  }
}
